@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050505;
}



body {
  color: var(--foreground);
  background: var(--background);
  overflow: visible;
  /* Smooth scrolling feel */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}